.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
 
}

.auth-card {
 
  padding: 30px;
  width: 260px;
  height: 280px; ;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
  text-align: center;
   background: white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.navbar a{
  margin-left:20px;
  color:white;
  text-decoration:none;
}